PWSZ_WCF/Service References/ServiceReference1/BazusApi.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BazusApi" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BazusApi" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LessonPlan">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lessons" nillable="true" type="tns:ArrayOfLesson" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LessonPlan" nillable="true" type="tns:LessonPlan" />
  <xs:complexType name="ArrayOfLesson">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lesson" nillable="true" type="tns:Lesson" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLesson" nillable="true" type="tns:ArrayOfLesson" />
  <xs:complexType name="Lesson">
    <xs:sequence>
      <xs:element minOccurs="0" name="Building" nillable="true" type="xs:string" />
      <xs:element name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FieldOfStudyId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FieldOfStudyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Instructor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LessonId" type="xs:int" />
      <xs:element minOccurs="0" name="LessonName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LessonType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecruitmentYear" type="xs:int" />
      <xs:element minOccurs="0" name="RoomNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpecialtyId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpecialtyName" nillable="true" type="xs:string" />
      <xs:element name="StartTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lesson" nillable="true" type="tns:Lesson" />
</xs:schema>