PWSZ_WCF/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BazusApi" />
  <xs:element name="GetDataLessonPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="indexNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataPlanu" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataLessonPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BazusApi" minOccurs="0" name="GetDataLessonPlanResult" nillable="true" type="q1:LessonPlan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataLessonPlanForFuture">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="indexNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataPlanu" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dayOfFuture" type="xs:int" />
        <xs:element minOccurs="0" name="teacherName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="teacherSurname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataLessonPlanForFutureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BazusApi" minOccurs="0" name="GetDataLessonPlanForFutureResult" nillable="true" type="q2:LessonPlan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Test">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>